<% layout("/boilerplate")%>

<div style="width: 100%;" class="alert alert-danger mt-5" role="alert">
<h4 class="alert-heading"><%=err.message%>></h4> 
<p>Dette gikk ikke helt som det skulle...</p>
<p class="mb-0">Prøv å gå til hjemmesiden for å forsøke på ny</p>
</div>